/* REGOLE RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style-type: none;
}

/* REGOLE UTILITY*/
.container {
  max-width: 600px;
  margin: 0 auto;
}

/* PER VEDERE I CONTAINER 
.debug * {
  min-height: 50px;
  padding: 5px;
  background-color: rgba(255, 0, 0, 0.236);
  border: 2px dashed red;
}*/

/* GRIGLIA DI COLONNE 
.container {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;

  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

[class*="col"] {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.col-1-2 {
  width: calc(100% / 2);
}*/

/* HEADER */
h1 {
  text-align: center;
  font-family: "Nerko One", cursive;
  color: #ff9613;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* MAIN */
.background-main {
  background-color: #f6f5f3;
}
.card {
  background-color: white;
}
.card-img img {
  max-width: 100%;
}
.card-text {
  border-bottom: 1px solid #efeeee;
  border-right: 1px solid #efeeee;
  border-left: 1px solid #efeeee;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* FOOTER */
.background-footer {
  background-color: #7c69a4;
}
