/* REGOLE RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
}
a {
  color: inherit;
}
li {
  list-style-type: none;
}

/* REGOLE UTILITY*/
.container-main {
  max-width: 768px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.container-footer {
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
/* PER VEDERE I CONTAINER 
.debug * {
  min-height: 50px;
  padding: 5px;
  background-color: rgba(255, 0, 0, 0.236);
  border: 2px dashed red;
}*/

/* GRIGLIA DI COLONNE 
.container {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;

  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

[class*="col"] {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.col-1-2 {
  width: calc(100% / 2);
}*/

/* HEADER */
h1 {
  text-align: center;
  font-family: "Nerko One", cursive;
  color: #ff9613;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* MAIN */
.background-main {
  background-color: #f6f5f3;
}
h2 > span {
  display: none;
}
.content-main > p {
  padding-top: 1.5rem;
}
.card {
  background-color: white;
}
.card-img img {
  max-width: 100%;
}
.card {
  border-bottom: 1px solid #efeeee;
  border-right: 1px solid #efeeee;
  border-left: 1px solid #efeeee;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.social-icons {
  display: flex;
  justify-content: space-between;
}
.social-icons div {
  padding: 13px 20px;
  border: 1px solid #efeeee;
  border-radius: 25px;
  background-color: white;
  margin-bottom: 1.5rem;
}
hr {
  background-color: #f7982e;
  height: 3px;
  width: 70px;
}
.tiramisu-img {
  display: inline-block;
  text-align: center;
}
.tiramisu-img img {
  max-width: 50%;
}
.recipe p {
  font-size: larger;
  line-height: 2.5rem;
  font-weight: 300;
  padding-bottom: 2rem;
}
/* FOOTER */
.background-footer {
  background-color: #7c69a4;
}
.content-footer {
  color: white;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  text-align: center;
}
.content-footer a {
  padding-right: 10px;
  padding-left: 10px;
}

/* RESPONSIVE */

/* DA 768PX IN SU */
@media screen and (min-width: 769px) {
  h1 {
    text-align: left;
    padding-left: 1rem;
  }
  .container-main {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h2 > span {
    display: inline;
  }
}
/* DA 992PX IN SU */
@media screen and (min-width: 993px) {
}
